@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Redressed&family=Righteous&family=Roboto:ital,wght@0,300;0,700;0,900;1,300;1,700;1,900&display=swap');

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
}

input {
    color: #fff;
    padding: 15px;
    outline: none;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    border-radius:  50%;
}

.num {
    width: 70px;
    height: 60px;
}

.text {
    width: 150px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 15px;
}

.text1 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.main {
    display: inline-block;
}

.maincolor {
    background-color: #000;
}

.blue {
    background-color: #5cd3d3;
}

.pin {
    background-color: #dd56b5;
}

.gre {
    background-color: #a3ce15;
}

.pur {
    background-color: #2e0483;
}

.yelo {
    background-color: #ffee00;
}